/*
--- 01 TYPOGRAPHY SYSTEM

- Spacing System (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

- Font Weights
Default: 400

- Line Heights
Default: 1

- Font System (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
 */

* {
  padding: 0;
  margin: 0;
  line-height: 1;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  /* 1 rem is 10 px */
}

body {
  font-family: "Inter", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
}
/* ************************************** */
/* GENERAL REUSABLE COMPONENTS  */
/* ************************************** */

.heading-primary {
  font-size: 5.2rem;
  font-weight: 700;
  line-height: 1.05;
  color: #333;
  letter-spacing: -0.5px;
  margin-bottom: 3.2rem;
}

.btn:link,
.btn:visited {
  font-size: 2rem;
  padding: 1.6rem 3.2rem;
  display: inline-block;
  border-radius: 9px;
  text-decoration: none;
  font-weight: 600;

  transition: all 0.12s ease-in-out;
}

.btn:hover,
.btn:active {
  transform: scale(1.03);
}

.btn--full:link,
.btn--full:visited {
  color: #fff;
  background-color: #0e67b4;
  box-shadow: 1rem 1rem 5rem 1rem rgba(0, 0, 0, 0.07);
}

.btn--full:hover,
.btn--full:active {
  background-color: #0d5da2;
}

.btn--outline:link,
.btn--outline:visited {
  background-color: white;
  color: #555;
}

.btn--outline:hover,
.btn--outline:active {
  background-color: #e7f0f8;

  box-shadow: inset 0 0 0 0.3rem #fff;
}

.margin-right-sm {
  margin-right: 1.6rem !important;
}

.div {
  display: block;
}

.container {
  max-width: 130rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

.subheading {
  display: block;
  font-size: 1.6rem;
  font-weight: 700;
  color: #0e67b4;
  text-transform: uppercase;
  margin-bottom: 1.6rem;
  letter-spacing: 0.75px;
}

.heading-primary,
.heading-secondary,
.heading-tertiary {
  font-weight: 700;
  color: #333;
  letter-spacing: -0.5px;
}

.heading-secondary {
  font-size: 4.4rem;
  line-height: 1.2;
  margin-bottom: 9.6rem;
}

.container {
  /* 1140px */
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

.grid {
  display: grid;
  column-gap: 6.4rem;
  row-gap: 9.6rem;

  /* margin-bottom: 9.6rem; */
}

/* .grid:last-child {
  margin-bottom: 0;
} */

.grid:not(:last-child) {
  margin-bottom: 9.6rem;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 1fr;
}

.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
}

/* .grid--5-cols {
  grid-template-columns: repeat(5, 1fr);
} */

.grid--center-v {
  align-items: center;
}

.heading-primary,
.heading-secondary,
.heading-tertiary {
  font-weight: 700;
  color: #333;
  letter-spacing: -0.5px;
}

.heading-primary {
  font-size: 5.2rem;
  line-height: 1.05;
  margin-bottom: 3.2rem;
}

.heading-secondary {
  font-size: 4.4rem;
  line-height: 1.2;
  margin-bottom: 9.6rem;
}

.heading-tertiary {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 3.2rem;
}

/* ************************************** */
/* HEADER  */
/* ************************************** */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e7f0f8;

  height: 9.6rem;
  padding: 0 4.8rem;
  position: relative;
}

.logo {
  height: 4.8rem;
}

/* STICKY NAVIGATION */
.sticky .header {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 8rem;
  padding-top: 0;
  padding-bottom: 0;
  background-color: rgba(255, 255, 255, 0.97);
  z-index: 999;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);
}

.sticky .section-hero {
  margin-top: 9.6rem;
}

/* ************************************** */
/* NAVIGATION  */
/* ************************************** */

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3.2rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  display: inline-block;
  color: #0d5da2;
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  color: white;
  background-color: #0e67b4;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: #0d5da2;
  transform: scale(1.03);
  transition: all 0.12s ease-in-out;
}

.logo-section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;
}

.logo-text {
  font-size: 2.4rem;
  font-weight: 600;
  color: #343a40;
  text-decoration: none;
}

/* ************************************** */
/* HERO SECTION  */
/* ************************************** */

.section-hero {
  background-color: #e7f0f8;
  padding: 4.8rem 0 9.6rem 0;
}

.hero {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 9.6rem;
  align-items: center;
}

.hero-description {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}

.hero-img {
  width: 100%;
}

.spin {
  display: inline-block;
}

.dolphins {
  color: #6296c4;
}

.whales {
  color: #497193;
}

.turtles {
  color: #12b886;
}

.seabirds {
  color: #fd7e14;
}

.stat-box {
  margin-top: 8rem;
  display: flex;
  align-items: center;
  justify-items: center;
  gap: 1rem;
  font-weight: 600;
}

.stat {
  font-size: 1.8rem;
}

.hero-stat {
  font-weight: 700;
  color: #0e67b4;
}

.heart {
  width: 4.8rem;
  height: 4.8rem;
  color: #0e67b4;
}

/* ************************************** */
/* FEATURED IN  */
/* ************************************** */

.section-featured {
  padding: 4.8rem 0 3.2rem 0;
  display: flex;
  flex-direction: column;
}

.logos {
  display: flex;
  gap: 4.8rem;
}

.logos img {
  height: 3.6rem;
  filter: brightness(0);
  opacity: 50%;
}

.heading-featured-in {
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  font-weight: 500px;
  text-align: center;
  margin-bottom: 3.6rem;
  color: #888;
}

/* ************************************** */
/* ISSUE */
/* ************************************** */

.gridd {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 3.2rem;
  grid-row-gap: 3.2rem;
  grid-template-columns: repeat(4, 285px);
  grid-template-rows: repeat(3, 285px);
}

.section-issue {
  margin-top: 9.6rem;
}

.grid-element {
  border-radius: 9px;
  box-shadow: 0 0 5rem 1rem rgba(0, 0, 0, 0.07);
  transition: all 0.4s;
}

.grid-element:hover {
  transform: translateY(-1.2rem);
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.06);
}

.grid-1 {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  overflow: clip;
  background-image: url(img/entangled.jpeg);
  background-size: cover;
}

.grid-2 {
  grid-column: 2 / 4;
  grid-row: 1 / 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.stat-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 1.8rem;
}

.stat-2 span {
  margin-bottom: 0;
  font-size: 12rem;
  color: #0e67b4;
  margin-bottom: 0;
}

.stat-2 p {
  font-weight: 700px;
  color: black;
  font-size: 2.4rem;
  margin-bottom: 0;
  margin-top: 0;
}

.exp {
  font-size: 1.4rem;
}

.grid-3 {
  grid-column: 4 / 5;
  grid-row: 1 / 3;
  background-color: #0e67b4;
  display: flex;
  flex-direction: column;
  overflow: clip;
  align-items: center;
  justify-content: center;
}

.grid-4 {
  grid-column: 1 / 2;
  grid-row: 2 / 4;
  background-color: #09143c;
}

.grid-5 {
  grid-column: 2 / 4;
  grid-row: 2 / 4;
  background-image: linear-gradient(
      rgba(100, 100, 100, 0),
      rgba(100, 100, 100, 0.6)
    ),
    url(img/large-ghosrt.png);
  background-size: cover;
  display: flex;
}

.grid-5-text {
  align-self: flex-end;
  margin-left: 2.4rem;
  margin-bottom: 2.4rem;
  padding-right: 2.4rem;
  color: white;
  display: flex;
  flex-direction: column;
}

.tag-btn {
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  display: flex;
  height: 2rem;
  margin-bottom: 8px;
  padding-right: 8px;
  padding-left: 8px;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  background-color: white;
  color: black;
  font-size: 1rem;
  max-width: 10rem;
}

.grid-5-title {
  color: white;
  margin: 0;
  padding-right: 2.4rem;
  font-size: 4rem;
  margin-top: 0.1rem;
}

.grid-5-text a:visited,
.grid-5-text a:link {
  display: block;
  margin-top: 1.6rem;
  color: white;
}

.grid-5-text a:hover,
.grid-5-text a:active {
  display: block;
  margin-top: 1.6rem;
  color: white;
}

.grid-5-text a ion-icon {
  width: 24px;
  height: 24px;
}

.sub {
  margin-bottom: 4.8rem;
}

.grid-3-img {
  -webkit-mask-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    from(rgba(0, 0, 0, 0.3)),
    to(rgba(0, 0, 0, 0))
  );
  mask-image: linear-gradient(to top, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0));
  background-image: url(img/ocean-pattern.jpeg);
  background-size: cover;
  height: 30%;
  width: 100%;
  align-self: flex-end;
}

.big-info {
  margin-bottom: 0;
  color: white;
  margin-bottom: 0;
}

.grid-3-text {
  height: 70%;
  color: white;
  padding: 2.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.grid-3-words {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ew {
  text-align: center;
  margin-bottom: 1.6rem;
}

.small-cap {
  margin: 1rem 0;
  font-size: 1.2rem;
}

.small {
  text-align: center;
  font-size: 1.2rem;
  margin-bottom: 3.6rem;
}

.learn-more:link,
.learn-more:visited {
  color: #0e67b4;
  background-color: white;
  box-shadow: 1rem 1rem 5rem 1rem rgba(0, 0, 0, 0.07);
  border-radius: 1000px;
  text-align: center;
  max-width: 100%;
  font-size: 1.6rem;
  display: block;
}

.learn-more:hover,
.learn-more:active {
  background-color: #e7f0f8;
  border-radius: 1000px;
  text-align: center;
  max-width: 100%;
  font-size: 1.6rem;
  display: block;
}

.grid-4-text {
  height: 100%;
}

.grid-4-text p {
  text-align: center;
}

.grid-6 {
  overflow: clip;
  background-image: url(img/ghost.jpeg);
  background-size: cover;
}

/* ************************************** */
/* MISSION */
/* ************************************** */

.subh {
  margin-bottom: 5.6rem;
}

.section-mission {
  margin-top: 9.6rem;
  background-color: #e7f0f8;
  display: grid;
  grid-template-columns: 45fr 55fr;
  align-items: center;
}

.mission-container {
  padding: 9.6rem;
}

.mission-image {
  background-image: url(img/product-pic.png);
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: left bottom;
  border-radius: 24px 0 0 24px;
  overflow: hidden;
}

.mission-list {
  list-style: none;
  display: flex;
  gap: 5.6rem;
  flex-direction: column;
}

.mission-icon {
  width: 3rem;
  height: 3rem;
  color: #e7f0f8;
  background-color: #0e67b4;
  padding: 1.2rem;
  border-radius: 100%;
}

.mission-item {
  margin-left: 3rem;
  font-size: 2rem;
  font-weight: 600;
}

.mission-list li {
  display: grid;
  grid-template-columns: 4.2rem 1fr;
  align-items: center;
  justify-content: center;
}

.bold {
  color: #0e67b4;
  font-weight: 700;
}

/* ************************************** */
/* AQUAAI*/
/* ************************************** */

.section-aquaai {
  padding-top: 0;
  background-color: #e7f0f8;
  display: grid;
  grid-template-columns: 45fr 55fr;
  align-items: center;
  max-height: 120rem;
}

.aquaai-img {
  border-radius: 0 24px 24px 0;
  background-image: none;
}

#c {
  width: 100%;
  height: 100%;
  display: block;
}

.aquaai-list {
  gap: 3.6rem;
}

.aquaai-div {
  max-width: 24rem;
}

.aquaai-button:link,
.aquaai-button:visited {
  margin-top: 4.8rem;
  background-color: #0e67b4;
  color: white;
  display: flex;
  gap: 1.6rem;
  font-size: 1.8rem;
  align-items: center;
  justify-content: center;
}

.aquaai-button:hover,
.aquaai-button:active {
  margin-top: 4.8rem;
  background-color: #0d5da2;
}

.aquaai-button ion-icon {
  width: 2.4rem;
  height: 2.4rem;
}

/* ************************************** */
/* AQUAAPP*/
/* ************************************** */

.section-how {
  padding: 9.6rem 0;
}

.step-number {
  font-size: 8.6rem;
  font-weight: 600;
  color: #ddd;
  margin-bottom: 1.2rem;
}

.step-description {
  font-size: 1.8rem;
  line-height: 1.8;
}

.step-img-box {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
}

.step-img-box::before,
.step-img-box::after {
  content: "";
  display: block;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.step-img-box::before {
  width: 60%;
  /* height: 60%; */

  /* 60% of parent's width */
  padding-bottom: 60%;

  background-color: #e7f0f8;
  z-index: -2;
}

.step-img-box::after {
  width: 45%;
  padding-bottom: 45%;
  background-color: #cfe1f0;
  z-index: -1;
}

.step-img {
  width: 35%;
  /* z-index: 10; */
}

/* ************************************** */
/* ETHICS */
/* ************************************** */

.section-ethics {
  padding: 9.6rem 0;
}

.principle {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  border-radius: 11px;
  overflow: hidden;
  transition: all 0.4s;
}

.principle:hover {
  transform: translateY(-1.2rem);
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.06);
}

.principle-content {
  padding: 3.2rem 4.8rem 4.8rem 4.8rem;
}

.principle-tags {
  margin-bottom: 1.2rem;
  display: flex;
  gap: 0.4rem;
}

.tag {
  display: inline-block;
  padding: 0.4rem 0.8rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #333;
  border-radius: 100px;
  font-weight: 600;
}

.tag--unbiased {
  background-color: #0e67b4;
  color: white;
}
.tag--reliable {
  background-color: #008080;
  color: white;
}
.tag--secure {
  background-color: #7abcf5;
  color: white;
}
.tag--access {
  background-color: #12b886;
  color: white;
}

.tag--transparent {
  background-color: #a020f0;
  color: white;
}

.principle-title {
  font-size: 2.4rem;
  color: #333;
  font-weight: 600;
  margin-bottom: 3.2rem;
}

.principle-attributes {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.principle-attribute {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.principle-icon {
  height: 2.4rem;
  width: 2.4rem;
  color: #0e67b4;
}

.principle-img {
  width: 100%;
}

.center-text {
  text-align: center;
}

/* ************************************** */
/* SECURITY */
/* ************************************** */

.feature-icon {
  color: #0e67b4;
  height: 3.2rem;
  width: 3.2rem;
  background-color: #e7f0f8;
  margin-bottom: 3.2rem;
  padding: 1.6rem;
  border-radius: 50%;
}

.feature-title {
  font-size: 2.4rem;
  color: #333;
  font-weight: 700;
  margin-bottom: 1.6rem;
}

.feature-text {
  font-size: 1.8rem;
  line-height: 1.8;
}

/* ************************************** */
/* CTA */
/* ************************************** */

.section-cta {
  /* top / right / bottom / left */
  /* padding: 9.6rem 0 12.8rem 0; */

  /* top / horizontal / left */
  padding: 4.8rem 0 12.8rem;
  margin-top: 9.6rem;
}

.cta {
  display: grid;
  /* 2/3 = 66.6% + 1/3 = 33.3% */
  grid-template-columns: 2fr 1fr;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
  border-radius: 11px;

  background-image: linear-gradient(to right bottom, #0e67b4, #0d5da2);
  overflow: hidden;
}

.cta-text-box {
  padding: 4.8rem 6.4rem 6.4rem 6.4rem;
  color: #fff;
}

.cta .heading-secondary {
  color: inherit;
  margin-bottom: 3.2rem;
}

.cta-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 4.8rem;
}

.cta-img-box {
  background-image: linear-gradient(
      to right bottom,
      rgba(14, 103, 180, 0.35),
      rgba(13, 93, 162, 0.35)
    ),
    url("../img/phone.avif");
  background-size: cover;
  background-position: left;
}

.cta-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3.2rem;
  row-gap: 2.4rem;
}

.cta-form div input,
.cta-form div select {
  color: #555;
}

.cta-form label {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
}

.cta-form input,
.cta-form select {
  width: 100%;
  padding: 1.2rem;
  font-size: 1.8rem;
  font-family: inherit;
  color: inherit;
  border: none;
  background-color: #e7f0f8;
  border-radius: 9px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.cta-form input::placeholder {
  color: #aaa;
}

.cta *:focus {
  outline: none;
  box-shadow: 0 0 0 0.8rem rgba(231, 240, 248, 0.5);
}

.btn--form {
  background-color: #09143c;
  border: none;
  color: #e7f0f8;
  align-self: end;
  padding: 1.2rem;
  font-size: 2rem;
  display: inline-block;
  border-radius: 9px;
  text-decoration: none;
  font-weight: 600;

  transition: all 0.12s ease-in-out;
}

.btn--form:hover {
  background-color: #fff;
  color: #555;
  transform: scale(1.03);
}

/* ************************************** */
/* FOOTER */
/* ************************************** */

.footer {
  padding: 12.8rem 0;
  border-top: 1px solid #eee;
}

.grid--footer {
  grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
}

.logo-col {
  display: flex;
  flex-direction: column;
}

.footer-logo {
  margin-bottom: 3.2rem;
  margin-left: 0;
  justify-content: flex-start;
}

.social-links {
  list-style: none;
  display: flex;
  gap: 2.4rem;
}

.social-icon {
  height: 2.4rem;
  width: 2.4rem;
}

.copyright {
  font-size: 1.4rem;
  line-height: 1.6;
  color: #767676;
  margin-top: auto;
}

.footer-heading {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 4rem;
}

.contacts {
  font-style: normal;
  font-size: 1.6rem;
  line-height: 1.6;
}

.address {
  margin-bottom: 2.4rem;
}

.footer-nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  font-size: 1.6rem;
  color: #767676;
  transition: all 0.3s;
}

.footer-link:hover,
.footer-link:active {
  color: #555;
}
